// Bulma options
$body-background-color: rgb(28, 38, 50);

// Misc options
$navbar-background-color: rgb(44, 57, 71);

@import '~bulma';

body {
  height          : 100%;
  background-color: $body-background-color;
}

html {
  height: 100%;

  // Fix Bulma's scrollbar thing
  overflow-y: auto !important;
}

h1 {
  color: white;
}

.custom-scrollbar {
  background-color   : rgb(57, 62, 66);
  overscroll-behavior: none;
}

.custom-navbar {
  box-shadow: 0px 0px 8px 2px #000000;
}

.searchBar {
  width           : 15rem;
  height          : 2rem;
  border          : 0;
  color           : whitesmoke;
  background-color: rgb(60, 74, 88);

  &::placeholder {
    color: rgb(31, 35, 39);
  }
}

.infoMessage {
  text-align : center;
  overflow   : wheat;

  > h2 {
    &:after, &:before {
      background-color: rgb(80, 80, 80);
      content         : '';
      display         : inline-block;
      height          : 1px;
      position        : relative;
      vertical-align  : middle;
      width           : 50%;
    }
  
    &:after {
      left        : 0.5em;
      margin-right: -50%;
    }
  
    &:before {
      right      : 0.5em;
      margin-left: -50%;
    }
  }
}

.logEvent {
  font-family : monaco, monospace;
  font-size   : 11px;
  padding-left: 1px;

  > .logTime {
    color: wheat;
    // font-size: 11px;
  }

  > .logHostname {
    word-wrap: break-word;
    color    : yellow;
  }

  > .logMessage {
    font-size: 13px;
    color    : rgb(112, 112, 112);
  }
}

.flexcontainer {
  height        : 100vh;
  min-height    : 100vh;
  flex-direction: column;
  display       : flex;

  > .flexbox {
    display       : flex;
    flex-direction: column;
  }

  > #logs-container {
    flex          : 1;
    padding-bottom: 1px;
  }
}

.containerList {
  > * {
    margin-right: 10px
  }
}

.flexbox {
  display       : flex;
  flex-direction: column;
}

#logs-container {
  flex: 1;
}

#app-title {
  color      : whitesmoke;
  margin-left: 5px;
}

.main-title {
  color: rgb(96, 113, 133);
}
